<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Invoice</title>
    <link rel="stylesheet" th:href="@{/resources/css/base-layout-style.css}">
</head>
<body>
    <div class="container">
        <nav th:fragment="nav">
            <h3>Menu</h3>
            <div>
                <a th:href="@{/home/page}">Home</a>
                <a th:href="@{/home/dashboard}">Dashboard</a>
                <a th:href="@{/auth/list}">List Account</a>
                <a th:href="@{/client/list}">List Client</a>
            </div>
        </nav>
        <div class="header-main">
            <header th:fragment="header">
                <h2>Ini Header</h2>
                <div class="logout-box">
                    <p sec:authentication="name">Anonymus</p>
                    <form th:attr="action=@{/logout}" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit">
                            Logout
<!--                            <i class="fas fa-sign-out-alt"></i>-->
                        </button>
                    </form>
                </div>
            </header>
            <main>
                <div th:fragment="notification" id="notif" class="notif">
                    <p>Default</p>
                </div>
            </main>
        </div>
    </div>
    <script th:fragment="script-file" th:src="@{/resources/scripts/base_script.js}"></script>
</body>
</html>