<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Invoice Login Page</title>
    <link rel="stylesheet" th:href="@{/resources/css/front-layout-style.css}" />
</head>
<body>
    <div class="login-container">
        <header th:fragment="header">
            <img th:src="@{/resources/image/bangka_berjaya.jpeg}" alt="logo">
            <h2>Electronic Invoice</h2>
        </header>
    </div>
</body>
</html>