* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100%;
  height: 100%;
}

.container {
  display: flex;
}

nav {
  width: 150px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav h3 {
  margin-bottom: 50px;
}

nav a,
nav h3 {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  border: solid 1px rgb(28, 27, 27);
  color: rgb(28, 27, 27);
  background-color: white;
}

.header-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  display: flex;
  background-color: #4caf50;
  color: #fff;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  height: 13%;
}

.logout-box {
  display: flex;
  width: 20%;
  align-items: center;
  border: solid 3px white;
  border-radius: 5px;
  padding: 15px;
  flex-direction: row;
  justify-content: space-around;
}

.logout-box > form {
  background-color: white;
}

.logout-box > form > button {
  width: 25px;
  height: 25px;
  background-color: none;
}

main {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 100%;
  padding: 20px;
  align-items: center;
  row-gap: 20px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}

.search-bar input {
  font-size: medium;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  border: solid 1px black;
  text-align: center;
}

.invoice-container {
  width: 100%;
  background-color: rgb(184, 190, 190);
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
}

.invoice-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 10px;
  font-size: small;
  font-weight: bold;
}

.invoice-input input,
.invoice-input select,
.invoice-input option,
.invoice-input textarea {
  font-size: small;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(247, 242, 242);
}

.clientBox {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  gap: 10px;
}

.clientBox > select {
  width: 100%;
}

.separator {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 10px;
  width: 100%;
}

.green-button,
.blue-button,
.red-button,
.yellow-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.green-button {
  padding: 5px;
  border: solid 1px white;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  background-color: rgb(77, 242, 58);
  text-align: center;
}

.green-button:hover {
  border: none;
  background-color: rgb(51, 250, 29);
  font-size: large;
}

.yellow-button {
  padding: 5px;
  border: solid 1px white;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  background-color: rgba(248, 248, 48, 0.658);
  text-align: center;
}

.yellow-button:hover {
  border: none;
  background-color: rgb(241, 241, 9);
  font-size: large;
}

.blue-button {
  padding: 5px;
  border: solid 1px white;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  background-color: rgb(58, 221, 242);
  text-align: center;
}

.blue-button:hover {
  border: none;
  background-color: rgb(40, 223, 247);
  font-size: large;
}

.red-button {
  padding: 5px;
  border: solid 1px white;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  background-color: rgb(240, 49, 49);
  text-align: center;
}

.red-button:hover {
  border: none;
  background-color: rgb(245, 37, 37);
  font-size: large;
}

.table-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: small;
}

thead {
  font-weight: bold;
  background-color: #656464;
}

tfoot {
  background-color: #656464;
}

thead > tr > td:first-child {
  border-radius: 10px 0px 0px 0px;
}

thead td,
tfoot td {
  padding: 5px;
}

thead > tr > td:last-child {
  border-radius: 0px 10px 0px 0px;
}

tfoot td {
  border-radius: 0px 0px 10px 10px;
}

tbody td {
  margin: 0;
  padding: 5px;
}

tbody > tr:nth-child(odd) {
  background-color: rgb(158, 157, 157);
}

tbody > tr:nth-child(even) {
  background-color: rgb(95, 89, 89);
}

.page-number {
  padding: 2px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(183, 182, 182);
  font-weight: bold;
  font-size: small;
  margin-left: 5px;
  margin-right: 5px;
}

.page-number:hover {
  background-color: rgb(128, 128, 128);
}

.active {
  background-color: white;
}

.active:hover {
  background: white;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.683);
  justify-content: center;
  align-items: center;
}

.modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 50%;
  height: fit-content;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: #61ef66;
}

.modal-form label {
  font-weight: bold;
  font-size: medium;
}

.modal-form input,
.modal-form textarea,
.modal-form select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: medium;
}

.notif {
  position: absolute;
  display: none;
  top: 10;
  border: solid 3px white;
  border-radius: 10px;
  padding: 20px;
  transition: opacity 1s ease-in-out;
  text-wrap: 10;
}

.error {
  background-color: red;
}

.success {
  background-color: rgb(4, 222, 4);
}
.warning {
  background-color: rgb(225, 225, 25);
}
