<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout/base-layout :: head}"></head>
<body>
    <div class="container">
        <nav th:replace="~{layout/base-layout :: nav}"></nav>
        <div class="header-main">
            <header th:replace="~{layout/base-layout :: header}"></header>
            <main>
                <form action="/page" method="Get" class="search-bar">
                    <input type="text" placeholder="Invoice Number" />
                    <input type="text" placeholder="Date" />
                    <button type="submit" class="green-button">Search</button>
                </form>

                <div class="table-container">
                    <table>
                        <thead>
                        <tr>
                            <td>Number</td>
                            <td>Invoice Number</td>
                            <td>Invoice Desc</td>
                            <td>Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                </div>
            </main>
        </div>
    </div>
</body>
</html>