<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Invoice</title>
    <link rel="stylesheet" th:href="@{/resources/css/base-layout-style.css}">
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}">
</head>
<body>
    <div class="container">
        <nav th:replace="~{layout/base-layout :: nav}"></nav>
        <div class="header-main">
            <header th:replace="~{layout/base-layout :: header}">Ini header</header>
            <main>
                <h1>
                    Selamat datang
                </h1>
            </main>
        </div>
    </div>
</body>
</html>